.tarifMain {
    margin: 50px 0;
}
.tarifTittle {
    font-size: 32px;
    font-weight: 600;

    text-align: center;

}

.tittleList {
    display: flex;
    flex-direction: column;
font-weight: 500;
    margin: 20px;
    padding-left: 390px;
}

.tarifList {
    margin: 40px 0;
   justify-content: center;
    display: flex;
}
.tarifListItem {
    margin: 0 10px;
    width: 168px;
    border-radius: 13px;
    padding-top: 31px;
    padding-bottom: 24px;
    border: 2px solid #0c1c6b;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    letter-spacing: 1px;
}
.tarifListItem:hover {
  background-color: #0c1c6b;
    color: white;
}
.tarifListTittle {
    font-size: 20px;
    margin: 0 auto;

}
.tarifText {
    text-align: center;
    font-size: 18px;
    line-height: 2.8rem;
}
.tarifText2 {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 2.8rem;
}
.tarifLink {
    color: black;
}