.wrapper{
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

.flex_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.icon{
    width: 4rem;
    height: 4rem;
    background-color: rgb(6, 115, 129);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
}


.card{
    width: 25%;
    margin: 2rem;
   
}

.card_width{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 600px) {
    .flex_container {
      flex-direction: column; 
    }
    .card{
        width: 100%;
    }
 }