$hamburger-types: (spring)
$hamburger-layer-width: 24px
@import './../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss'

.header
  &__menu
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    @media( max-width: 768px  )
      flex-direction: column
      width: 50%
      height: 40%
      background: #fff
      position: absolute
      right: -100%
      top: 0
      &-active
        right: 0
  &__nav
    @media (max-width: 768px)
      flex-direction: column
  &__nav-items a
    font-size: 20px
    color: #010b48
    text-decoration: none
    margin-right: 30px
    font-family: colibriRegular
    text-transform: uppercase
  &__auth
    @media (max-width: 768px)
      flex-direction: column
.hamburger
  display: none
  @media (max-width: 768px)
    display: block
  &-inner
    &::before
      right: 0
      width: 24px
