$hamburger-types: (spring)
$hamburger-layer-width: 24px
@import './../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss'

.header__hamburger
  // margin-left: 980px
.hamburger
  &-inner
    &::before
      right: 0
      width: 24px